<h2>アカウント登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name,placeholder:"名前の入力",autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :メール %><br />
    <%= f.email_field :email,placeholder:"メールアドレス", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字まで)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder:"パスワード入力",autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, placeholder:"パスワード入力",autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "アカウント登録する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
