<div class="container-fiuld user">
    <div class="row">

<div class="container-fiuld user">
    <div class="row">
        <div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
            <ul>
                <li class="">
                    <%= link_to "アカウント",users_account_path %>
                </li>

        </div>



        <div class="col-md-10 user-view">
            <div class="user-view-box">
                <div class="update-content">
                    <div class="row">
                        <h5>プロフィール</h5>
                    </div>
                </div>

                <%= form_with model: @user do |f| %>


                <div class="update-content">
                    <div class="row">
                        <div class="col-md-6 offset-md-3" %>
                            <div class="icon-box">

                                <% if @user.image.attached? %>
                                    <%= image_tag @user.image,class:"icon-image host-icon" ,size: "300x250" %>

                                <% else %>
                                    <img src="https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png" width="100" height="100" >
                                <% end %>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="update-content">
                    <div class="row">
                       <th>アイコン画像</th>

                        <%= f.file_field :image,class:"mb-4 col-md-9"  %>
                    </div>

                </div>

                <div class="update-content">
                    <div class="row">
                        <%= f.label :name,"名前",class:"col-md-3 required-a" %>
                        <%= f.text_field :name,placeholder:"名前を入力", class:"form-control col-md-9 mb-4" %>
                    </div>

                </div>

                <div class="update-content">
                    <div class="row">
                        <%= f.label :profile,"自己紹介",class:"col-md-3 required-a" %>
                        <%= f.text_area :profile,rows:"5",placeholder:"自己紹介を入力", class:"form-control mb-4 col-md-9" %>
                    </div>

                </div>


                <div class="update-content">
                    <div class="row">
                        <%= f.submit "更新" ,class:"col-md-2 btn btn-primary mx-3"%>
                    </div>
                </div>

                <% end %>

            </div>
        </div>
    </div>
</div>