<%= alert %>
<div class="container-fiuld room-new">
    <div class="row">


        <div class="col-md-10 room-view">
            <div class="room-view-box">
                <%= form_with model: @room, local: true do |f| %>


                <div class="update-content">
                    <div class="row">
                        <h5>ルーム情報登録</h5>
                    </div>
                </div>

                <div class="update-content">
                    <div class="row">
                        <%= f.label :room_name,"ルーム名",class:"col-md-3 required-a" %>
                        <%= f.text_field :room_name,placeholder:"ルーム名を入力", class:"form-control col-md-9 mb-4 field_wieth_error" %>
                    </div>

                </div>

                <div class="update-content">
                    <div class="row">
                        <%= f.label :introduction,"ルーム紹介",class:"col-md-3 required-a" %>
                        <%= f.text_field :introduction,placeholder:"ルーム紹介を入力", class:"form-control col-md-9 mb-4 field_wieth_error" %>
                    </div>

                </div>

                <div class="update-content">
                    <div class="row">
                        <%= f.label :price,"料金",class:"col-md-3 required-a" %>
                        <%= f.number_field :price,placeholder:"一日の料金を入力", class:"form-control mb-4 col-md-9 field_wieth_error" %>
                    </div>

                </div>

                <div class="update-content">
                    <div class="row">
                        <%= f.label :address,"住所",class:"col-md-3 required-a" %>
                        <%= f.text_field :address,placeholder:"住所を入力", class:"form-control mb-4 col-md-9 field_wieth_error" %>
                    </div>

                </div>

                <div class="update-content">
                    <div class="row">
                        <%= f.label :image,"ルーム画像",class:"col-md-3 required-a" %>
                        <%= f.file_field :image %>
                    </div>

                </div>

                <div class="update-content">
                    <div class="row">
                        <%= f.submit "登録" ,class:"col-md-2 btn btn-primary mx-3"%>
                    </div>
                </div>

                <% end %>

            </div>
        </div>
    </div>
</div>